@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    display: block;
}
.header{
    position: relative;
    display: block;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}