@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}
.header {
  width: 100%;
  height: 120px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.header img {
  width:10%;
}
/* 네비 */
.navi{
  width: 85%;
  padding-top: 24px;
  display: flex;
  text-align: center;
  
}
.navi > li{
  width: calc(100% / 9);
  position: relative;
}

.navi > li > a{
  display: block;
  position: relative;

}
.submenu {
  width: 100%;
  display: none;
  position: absolute; 
  top: 30px;
  text-align: center;
}
.submenu > li {
  width: 100%;
}
.submenu > li > a{
  display: block;
  line-height:1.8;
}
.navi > li:hover .submenu {
  display: block; 
}
.navi > li:nth-child(9){
  color: #3e9ef8;
  font-weight: bold;
}
/* 메인1번창 */
.main-first {
  width: 75%;
  height: 800px;
  margin: 40px auto;
  background-size: cover;
  background: url(../image/main1-img/mainslide01.jpg);
}
.main-inner {
  width: 100%;
  height: 100%;
  padding: 150px 100px;
  position: relative;
}
.main-info h1 {
  font-size: 50px;
  color: #3e9ef8;
}
.main-info p {
  margin-top: 50px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
}
.main-footer ul {
  position: absolute;
  bottom: 35px;
  left: 300px;
}
.main-footer ul li {
  float: left;
  padding: 15px 15px;
  background-color: #fff;
}

.main-footer ul li:first-child{
  color: #3e9ef8;
}
.main-footer ul li span {
  width: 2px;
  height: 10px;
  color: #333;
}
.main-footer ul li:nth-child(2) {
  color: #3e9ef8;
}
.menu-bar {
  position: fixed;
  right: 80px;
  top: 200px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 25px;
  border-radius: 30px;
  background-color: #3e9ef8;
  color: #fff;
  text-align: center;
  flex-wrap: wrap;
}
.menu-bar ul li {
  padding-top: 30px;
}
.menu-topButtom {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  padding-top: 10px;
  color: #3e9ef8;
  position: fixed;
  right: 110px;
  top: 680px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}
/* 메인2번 */
.main-second{
  width: 75%;
  height: 800px;
  margin: 40px auto;
  background: url(../image/main1-img/mainslide02.jpg);
  background-size: cover;
}
.main-second-inner {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  position: relative;
}

.main-second-info h1{
  font-size: 50px;
}
.main-second-info h2{
  color: #3e9ef8;
  font-size: 50px;
  margin-bottom: 40px;
}
.main-second-info{
  font-size: 20px;
  font-weight: bold;
  margin-left: 100px;
  margin-top: 140px;
}
.main-second-info h2{
  bottom: 35px;
}
.main-second-footer ul {
  position: absolute;
  bottom: 35px;
  left: 300px;
  color: black;
}
.main-second-footer ul li:nth-child(3){
  color: #3e9ef8;
}
.main-second-footer ul li {
  float: left;
  padding: 15px 15px;
  background-color: #fff;
}
/* 메인3번 */
.main-third{
  width: 75%;
  height: 800px;
  margin: 40px auto;
  background: url(../image/main1-img/mainslide03.jpg);
  background-size: cover;
}
.main-third-inner {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  position: relative;
}

.main-third-info h1{
  font-size: 50px;
}
.main-third-info h2{
  color: #3e9ef8;
  font-size: 50px;
  margin-bottom: 40px;
}
.main-third-info{
  font-size: 20px;
  font-weight: bold;
  margin-left: 100px;
  margin-top: 140px;
}
.main-third-info h2{
  bottom: 35px;
}
.main-third-footer ul {
  position: absolute;
  bottom: 35px;
  left: 300px;
  color: black;
}
.main-third-footer ul li:nth-child(4){
  color: #3e9ef8;
}
.main-third-footer ul li {
  float: left;
  padding: 15px 15px;
  background-color: #fff;
}


/* 메인4번 */
.main-fourth{
  width: 75%;
  height: 800px;
  margin: 40px auto;
  background: url(../image/main1-img/mainslide04.jpg);
  background-size: cover;
}
.main-fourth-inner {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  position: relative;
}

.main-fourth-info h1{
  font-size: 50px;
}
.main-fourth-info h2{
  color: #3e9ef8;
  font-size: 50px;
}
.main-fourth-info{
  font-size: 20px;
  font-weight: bold;
  margin-left: 100px;
  margin-top: 140px;
}
.main-fourth-info h2{
  bottom: 35px;
}
.main-fourth-info h2{
  margin-bottom: 40px;
}
.main-fourth-footer ul {
  position: absolute;
  bottom: 35px;
  left: 300px;
  color: black;
}
.main-fourth-footer ul li {
  float: left;
  padding: 15px 15px;
  background-color: #fff;
}
.main-fourth-footer ul li i {
  color: #3e9ef8;
}
.main-fourth-footer ul li:nth-child(5){
  color: #3e9ef8;
}
/* 메인5번 */
.main-fifth{
  width: 75%;
  height: 800px;
  margin: 40px auto;
  background: url(../image/main1-img/mainslide05.jpg);
  background-size: cover;
}
.main-fifth-inner {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  position: relative;
}

.main-fifth-info h1{
  font-size: 50px;
}
.main-fifth-info h2{
  font-size: 50px;
}
.main-fifth-info{
  font-size: 20px;
  font-weight: bold;
  margin-left: 100px;
  margin-top: 200px;
}
.main-fifth-info h1{
  margin-bottom: 40px;
}

.main-fifth-footer ul {
  position: absolute;
  bottom: 35px;
  left: 300px;
  color: black;
}
.main-fifth-footer ul li {
  float: left;
  padding: 15px 15px;
  background-color: #fff;
}
.main-fifth-footer ul li:nth-child(6){
  color: #3e9ef8;
}
/* 메인6번창 */
.main-sixth{
  width: 75%;
  height: 800px;
  margin: 40px auto;
  background: url(../image/main1-img/mainslide06.jpg);
  background-size: cover;
}
.main-sixth-inner {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  position: relative;
}

.main-sixth-info {
  color: #fff;
}

.main-sixth-info{
  font-size: 20px;
  font-weight: bold;
  margin-top: 23%;
  margin-left: 33%;
}
.main-sixth-info h1{
  margin-bottom: 40px;
}

.main-sixth-footer ul {
  position: absolute;
  bottom: 35px;
  left: 300px;
  color: black;
}
.main-sixth-footer ul li {
  float: left;
  padding: 15px 15px;
  background-color: #fff;
}

.main-sixth-footer ul li:nth-child(7){
  color: #3e9ef8;
}
/* 왼쪽버튼 */
.swiper-button-prev{
  top: 92%;
  left: 250px;
}
/* 오른쪽버튼 */
.swiper-button-next{
  top: 92%;
  right: 270px;
}

/* main2번째 창 */
.mid-wrap{
  width: 75%;
  height: 800px;
  margin: 40px auto;
  background-color: brown;
  padding: 40px 0;
  color: #fff;
}
.mid-inner h1{
  text-align: center;
  color: #3e9ef8;
}
.mid-inner h2{
  text-align: center;
}

