@charset "utf-8";
@import url("responsive.css");
@import url("header.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}

.menu-bar-img {
  position: fixed;
  width: 100px;
  height: 330px;
  right: 0;
  top: 200px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #3e9ef8;
  color: #fff;
  text-align: center;
  flex-wrap: wrap;
}
.menu-bar ul li {
  padding-top: 10px;
  padding-bottom: 5px;
}
.menu-topButtom {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  padding-top: 10px;
  color: #3e9ef8;
  position: fixed;
  right: 18px;
  top: 550px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}
.header {
  width: 100%;
  height: 120px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.header-logo {
  display: block;
  width:10%;
  min-width: 120px;
}
.header-logo img{
  width: 100%;
}
/* 네비 */
.navi{
  width: 85%;
  padding-top: 10px;
  display: flex;
  text-align: center;
  align-items: center
}

.navi > li{
  width: calc(100% / 9);
  position: relative;
}
.navi > li:first-child{
  font-size: 30px;
}
.navi > li > a{
  display: block;
  position: relative;
}
.submenu {
  width: 100%;
  display: none;
  position: absolute; 
  top: 65px;
  padding-top: 2px;
  text-align: center;
  z-index: 999999;
  background-color: #fff;
}
.submenu > li {
  width: 100%;
  margin-bottom: 10px;
}
.submenu > li > a{
  display: block;
  line-height:1.8;
}
.navi > li:hover .submenu {
  display: block;
  
}
.navi > li:nth-child(9){
  color: #3e9ef8;
  font-weight: bold;
}
/* 메인 슬라이드 */
.swiper-container{
  width: 100%;
  height: 38.75vw;
}
.main-info{
  position: relative;
  width: 100%;
  height: 38.75vw;
}
.main-info img{
  width: 100%;
  object-fit: cover;
}
.main-info-txt{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50% ,-50%);
  width: 40%;
  max-width: 410px;
  min-width: 370px;
  z-index: 9999;
  padding: 20px;
}
.main-info-txt h2{
  font-size: 60px;
  width: 500px;
  letter-spacing: -5px;
  color: #3e9ef8;
  margin-bottom: 25px;
}
.main-info-txt p{
  color: #3f3232;
  font-weight: bold;
}
.main-info-txtLast{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  width: 100%;
  max-width: 410px;
  min-width: 370px;
  z-index: 9999;
  padding: 20px;
}
.main-info .main-info-txtLast h2{
  color: white;
  width: 500px;
  font-size: 35px;
}
/* 왼쪽버튼 */
.swiper-button-prev{
  top: 93%;
  left: 200px;
}
/* 오른쪽버튼 */
.swiper-button-next{
  top: 93%;
  right: 300px;
}

/* main2번째 창 */
.mid-wrap{
  width: 75%;
  height: 1200px;
  margin: 40px auto;
  padding: 40px 0;
  color: #fff;
}
.mid-inner h1{
  text-align: center;
  color: #3e9ef8;
  font-size: 50px;
}
.mid-inner h2{
  text-align: center;
  color: black;
  font-size: 40px;
}
/* 메인2번 이미지 */
.img-wrap{
  padding-top: 40px;
  width: 100%;
  height: 420px;
  position: relative;
  display: block;
}
.img-first{
  width: 100%;
  height: 500px;
}
.img-box1{
  background: url("../image/main2-img/main2-img1.jpg")no-repeat;
  width: 32%;
  height: 415px;
  background-size: cover;
  margin-left: 20px;
  text-align: center;
  padding-top: 100px;
  position: absolute;
}
.img-box1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); 
}
.img-box1 p {
  position: relative;
  z-index: 2;
  top: 20%;
  left: 50%;
  transform: translate(-50% , -50%);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}
.img-box1 p:nth-child(1){
  font-size: 55px;
}

.img-box2{
  background: url("../image/main2-img/main2-img2.jpg")no-repeat;
  width: 62%;
  height: 415px;
  right: 50px;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  position: absolute;
}
.img-box2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
}
.img-box2 p {
  position: relative;
  z-index: 2;
  top: 20%;
  left: 50%;
  transform: translate(-50% , -50%);
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 25px;
}
.img-box2 p:nth-child(1){
  font-size: 55px;
}

.img-wrap-two{
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;

  }
  .img-second{
    position: relative;
    display: flex;
    gap: 10px;
    width: 100%;
  }
  .img-second li{
    width: calc(100% / 3);
  }
  .img-box3{
    background: url("../image/main2-img/main2-img3.jpg")no-repeat;
    width: calc(100% / 3);
    position: relative;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
  }
  .img-box3::before {
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
  }
  .img-box3 p {
    position: relative;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translate(-50% , -50%);
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 25px;
  }
  .img-box3 p:nth-child(1){
    font-size: 20px;
  }
.img-box4{
  background: url("../image/main2-img/main2-img4.jpg")no-repeat;
  width: calc(100% / 3);
  position: relative;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
}
.img-box4::before {
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); 
}
.img-box4 p {
  position: relative;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translate(-50% , -50%);
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 25px;
}
.img-box4 p:nth-child(1){
  font-size: 20px;
}
.img-box5{
  background: url("../image/main2-img/main2-img5.jpg")no-repeat;
  width: calc(100% / 3);
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  position: relative;
}
.img-box5::before {
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); 
}
.img-box5 p {
  position: relative;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translate(-50% , -50%);
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 25px;
}
.img-box5 p:nth-child(1){
  font-size: 20px;
}
/* 메인2번창 */
.bottum-wrap{
  width: 75%;
  margin: 40px auto;
}
.bottum-inner{
  width: 100%;
  text-align: center;
}
.title-third{
  width: 100%;
  margin-bottom: 100px;
}
.title-third > h1{
  font-size: 50px;
  color: #3e9ef8;
}
.title-third > h2{
  font-size: 35px;
}

.img-info-one p:nth-child(1){
  font-size: 50px;
}
.line {
  display: block;
  width: 60%;
  height: 4px;
  background-color: black;
  margin: 50px 140px;
}

.img-info-one{
  width: 100%;
  display: block;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  justify-content: space-between;
}
.img-info-one img{
  width: 45%;
  height: 100%;
}
.img-info-one ul{
  width: 50%;
  height: 100%;
  margin-top: 90px;
  line-height: 30px;
}

.img-info-second p:nth-child(1){
  font-size: 50px;
}
.img-info-second{
  display: block;
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
}
.img-info-second ul{
  width: 50%;
  height: 100%;
  margin-top: 90px;
  line-height: 30px;
}
.img-info-second img{
  width: 45%;
  height: 100%;
}
.img-info-third p:nth-child(1){
  font-size: 50px;
}
.img-info-third{
  display: block;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  justify-content: space-between;
}
.img-info-third img{
  width: 45%;
  height: 100%;
}
.img-info-third ul{
  width: 50%;
  height: 100%;
  margin-top: 90px;
  line-height: 30px;

}
.img-info-fourth p:nth-child(1){
  font-size: 50px;
}
.img-info-fourth{
  display: block;
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  margin-bottom: 170px;
}
.img-info-fourth img{
  width: 45%;
  height: 100%;
}
.img-info-fourth ul{
  width: 50%;
  height: 100%;
  margin-top: 90px;
  line-height: 30px;
}

.footer-info-one{
  width: 25%;
  background-color: red;
  float: left;
  text-align: center;
}
.footer-info-two{
  width: 25%;
  background-color: brown;
  float: left;
  text-align: center;
}
.main-two-footer{
  width: 70%;
  margin: auto;
}
.ft-one{
  width: 50%;
  height: 200px;
  background: url("../image/main3-img/main3-img5.jpg");
  background-color: red;
  float: left;
  text-align: center;
  color: white;
  padding-top: 85px;
  font-size: 40px;
  margin-bottom: 170px;
}
.ft-two{
  width: 50%;
  height: 200px;
  background: url("../image/main3-img/main3-img6.jpg");
  background-color: brown;
  float: left;
  text-align: center;
  color: white;
  padding-top: 85px;
  font-size: 40px;
}
/* 푸터 */
.footer{
  width: 100%;
  height: 200px;
  background-color: #D9D9D9;
  clear: both;
  font-weight: bold;
  text-align: center;
}
.img{
  width: 30%;
  float: left;
  margin-top: 20px;
}
.img img{
  width: 30%;
  height: 150px;
}
.footer-info{
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding-bottom: 10px;
}
.ft-fisrt ul {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  text-align: center;
}
.ft-second{
  display: flex;
  justify-content: center;
}
.ft-thrid{
  display: flex;
  justify-content: center;
}
