@charset "utf-8";
@media screen and (max-width: 969px) {
  .navi a{
    display: none !important;
  }
  .navi > li:nth-child(9){
    right: 50px;
  }
  .navi > li:nth-child(1){
    margin-left: 600px;
  }
  
  .menu-bar-img {
    width: 60px !important;
    height: 300px !important;
    top: 70px !important;
    z-index: 999;
    display: flex;
    border-radius: 20px !important;
    background-color:#3e9ef8 !important;
    color: #fff;
    text-align: center;
    flex-wrap: wrap;
  }
  .menu-bar ul li {
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 10px !important;
  }
  .menu-topButtom {
    width: 50px !important;
    height: 50px !important;
    background-color: #fff;
    border-radius: 50%;
    color: #3e9ef8;
    position: fixed;
    right: 6px !important;
    top: 400px !important;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  }
  .footer{
    width: 100%;
    height: 250px;
    max-width: 1100px;
    min-width: 900px;
    background-color: #D9D9D9;
    clear: both;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .img{
    width: 30%;
    float: left;
  }
  .img img{
    width: 100px;
    height: 100px;
  }
  
  .footer-info{
    width: 100%;
    float: left;
    font-size: 13px;
  }
  .ft-first{
    padding-top: 40px;
    max-width: 626px;
    max-height: 256px;
  }
  .ft-first li{
    float: left;
  }
}
@media screen and (max-width: 800px) {
  .main-info-txt h1 {
    font-size: 30px !important;
    color: red;
  }
}
@media screen and (max-width: 700px) {
}
